.App {
  /*text-align: center;*/
}

.findLabel{
	margin-top: 42px;
	font-size: 14px;
}
span{
	font-weight: normal;
}
.searchBlock{
	border-radius: 25px;
	/*background-color: black;*/
	padding-left: 40px;
	margin-top: 20px;
	height: 50px;
	box-shadow: 3px 5px 8px #747577;
}
.employeeProps{
	padding-left:70px;
}



